* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
.btn-primary {
  background: linear-gradient(
    47deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-secondary {
  background-color: transparent;
  border-radius: 10000px;
  border: 2px solid #00FF88;
  color: #00FF88;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-badge {
    background-color: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 3px 27px 0 #00ff8813;
}





.u-text-primary {
  color: #ffffff;
}

.header {
      background-color: #1a0b2e;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
.nav__logo h1 {
  font-size: 3rem;
  font-weight: 700;
}

.nav__title {
  color: #ffffff;
}
.nav__title2 {
  background: linear-gradient(
    0deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__content {
  display: flex;
}
.nav__list {
  display: flex;
  gap: 32px;
}
.nav__list {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  display: block;
}
.nav__hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.nav__hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
}

#nav__toggle {
  display: none;
}

.hero {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 101px;
}

.hero__logo {
    position: relative;
    width: 550px;
    height: 390px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.hero__circle {
    position: absolute; 
    left: 100px; 
    z-index: 0;
}
.hero__microphone {
    position: absolute;
    left: 213px;
    top: 25%;
    z-index: 1;
}
.badge {
    position: absolute;
    right: 145px;
    top: 0;
}
.hero__title {
    font-size: 3.75rem;
    font-weight: 800;
    padding: 8px;
    color: #FFFFFF;
}
.hero__text {
    color: #FFFFFF;
    padding-bottom: 24px;
    font-size: 16px;
}

.hero__button {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 101px;
}






















@media screen and (max-width: 576px) {
  .nav__hamburger {
    display: flex;
  }
  .nav__list {
    display: none;
  }
  .subscribe {
    display: none;
  }













}
