* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
    
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #1a0b2e;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
.btn-primary {
  background: linear-gradient(
    47deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-secondary {
  background-color: transparent;
  border-radius: 10000px;
  border: 2px solid #00FF88;
  color: #00FF88;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes myBadge {
    from {background-color: #00FF88}
    to {background-color: red};
    from{color: #1A0B2E }
    to{color: white};
}

.btn-badge {
    background-color: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 3px 27px 0 #00ff8813;
    animation-name: myBadge;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.u-text-primary {
  color: #D1CED5;
  font-size: 1rem;
}

.u-text-secondary {
  color: #FFFFFF;
}

.header {
      background-color: #1a0b2e;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
.nav__logo h1 {
  font-size: 3rem;
  font-weight: 700;
}

.nav__title {
  color: #ffffff;
}
.nav__title2 {
  background: linear-gradient(
    0deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__content {
  display: flex;
}
.nav__list {
  display: flex;
  gap: 32px;
}
.nav__list {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  display: block;
}
.nav__hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.nav__hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
}

#nav__toggle {
  display: none;
}

.hero {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 101px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__logo {
    position: relative;
    width: 550px;
    height: 300px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__circle {
    position: absolute;
    z-index: 1;
    width: 63%;
    right: 19%;
    top: -15%;
}
.hero__microphone {
    position: absolute;
    z-index: 2;
    top: 16%;
    right: 40%;
}
.hero__microphone:hover {
    transform: scale(1.2, 1.2);
}



#badge {
    z-index: 3;
    position: absolute;
    right: 18%;
    
}


.hero__title {
    font-size: 3.75rem;
    font-weight: 800;
    padding: 8px;
    color: #FFFFFF;
}
.hero__text {
    color: #FFFFFF;
    padding-bottom: 24px;
    font-size: 16px;
}

.hero__button {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* padding-bottom: 101px; */
}

.about {
  padding-top: 50px;
  padding-bottom: 120px;

}
.about__content {
  text-align: center;
  margin-bottom: 80px;
}
.about__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.about__text {
  padding: 0 200px;
}

.about-card__content {
  text-align: center;
  max-width: 240px;
}
.about-card__number {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
  
}

.about-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}


























.footer {
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  gap: 32px;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  
}

.footer__title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 120px;
}

.footer__title2 {
  background: linear-gradient(
    0deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}

.footer__text p{
  margin-bottom: 120px;
}














































@media screen and (max-width: 576px) {
  .nav__logo h1 {
    font-size: 2rem;
    font-weight: 700;
}
    .nav__hamburger {
    display: flex;
  }
  .nav__list {
    display: none;
  }
  .subscribe {
    display: none;
  }

  .hero {
    background-size: contain;
}
.hero__title {
    font-size: 2.5rem;
    font-weight: 800;
    padding: 8px;
    color: #FFFFFF;
}


.hero__circle {
    position: absolute;
    right: 18%;
    z-index: 1;
    width: 100%;
    left: 0%;
    top: 34%;
}

.hero__logo {
    position: relative;
    width: 215px;
    height: 320px;
    margin: 0 auto;
}

.hero__microphone {
    position: absolute;
    z-index: 2;
    top: 48%;
    right: 31%;
    width: 38%;
}

#badge {
    z-index: 3;
    position: absolute;
    right: 0%;
    top: 31%;
}
.hero {
    padding-bottom: 40px;
    padding-top: 0;
}

.hero__text {
    color: rgb(255, 255, 255);
    padding-bottom: 28px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 14px;
    text-align: center;
}

.about {
    padding-top: 0px;
    padding-bottom: 173px;
}

.about__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about__text {
    padding: 0 10px;
}

.about__content {
    text-align: center;
    margin-bottom: 63px;
    
}

.about-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.about-card__number {
    font-size: 2.5rem;
    font-weight: 900;
}
.about-card__text {
  color: #ffffff;
}

.about-card__content {
  max-width: 240px;
}



.footer__title {
  font-size: 2.5rem;
  margin-top: 40px;
}

.footer__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  text-align: center;
}

.footer__text p{
  margin-bottom: 40px;
}













}
